* {
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box !important;
}

/* disable annoying bootstrap click effects */
*:hover,
*:focus,
*:active {
  box-shadow: none !important;
  outline: 0 !important;
}

*::selection {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

option {
  background-color: white;
}

.darken {
  background: rgba(0, 0, 0, 0.35);
}

html,
body {
  height: 100%;
}

.content {
  min-height: 100%;
  min-width: 100%;
}

.form-switch .form-check-input:checked {
  background-color: gray;
  border-color: white;
}
.form-switch .form-check-input:checked:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  background-color: gray;
  border-color: white;
}
.form-switch .form-check-input, .form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e");
  background-color: white;
  border-color: gray;
}
